.app {
    background: url('https://static.vecteezy.com/system/resources/previews/035/261/379/large_2x/natural-wood-texture-background-surface-of-teak-wooden-desk-texture-free-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}